.my-bg {
background-color: #FAF8F1;
}
p {
font-family: 'Prompt', sans-serif;
font-weight: bold;
}
a {
font-family: 'Anton', sans-serif;
}


h1 {
font-family: 'Prompt', sans-serif;
font-weight: bold;
}
.my-row{
  background-color: #FFDAEF;
}
