.my-bg {
background-color: #FAF8F1;
}
p {
font-family: 'Prompt', sans-serif;

}
a {
font-family: 'Anton', sans-serif;
}


h1 {
font-family: 'Prompt', sans-serif;
font-weight: bold;
}
.my-row{
background-color: #FFE6EE;
}
h5  {
font-family: 'Prompt', sans-serif;
font-weight: bold;
}
.my-footer{
background-color: #FFA2C7;
}
h2  {
font-family: 'Anton', sans-serif;
}